@use "sass:math";

$mobile_width: 1000px;
$screen_scale: 1.3;

$font_body: "K2D" !default; // "Bitter";
$font_header: "Bebas Neue", sans-serif;
$text_color_normal: #333;
$text_color_light: #555;
$text_color_strong: #111;
$accent_color_r: 76;
$accent_color_g: 175;
$accent_color_b: 80;
$accent_color_rgb: "#{$accent_color_r}, #{$accent_color_g}, #{$accent_color_b}";
$accent_color: "rgb(#{$accent_color_rgb})";

@import "clear";

html {
    --page-width: 100em;
    --page-margin: 0.5in;
    --screen-scale: 1;

    --image-grid-gap: calc(clamp(0.8em, 1.5vw, 1.5em));

    --background-color: #efefe7;
    --background-color-2: #fff;

    --text-color-light: #{$text_color_light};
    --text-color-strong: #{$text_color_strong};
    --text-color: #{$text_color_normal};
    --accent-color-r: #{$accent_color_r};
    --accent-color-g: #{$accent_color_g};
    --accent-color-b: #{$accent_color_b};
    --accent-color: rgb(var(--accent-color-r), var(--accent-color-g), var(--accent-color-b));
    --accent-color-rgb: var(--accent-color-r), var(--accent-color-g), var(--accent-color-b);
    --accent-color-light: #70ff77;
    --accent-color-lighter: #64c169;
    --divider-light: #ccc;

    --radius-medium: 0.5rem;
    --radius-small: calc(var(--radius-medium) * 0.6);
    --radius-large: calc(var(--radius-medium) * 1.5);

    --base-font-size: 16px;

    --dark-background-color: #292922;
    --light-background-color: var(--background-color);

    font-size: calc(var(--base-font-size) * var(--screen-scale));

    @media screen {
        --screen-scale: #{$screen_scale};
        --page-margin: 0in;
    }

    @media screen and (max-width: 1800px) {
        --screen-scale: 1.1;
    }

    @media screen and (max-width: $mobile_width) {
        --screen-scale: 1;
    }
}

@import "app";

.hidden {
    display: none !important;
}

html,
body {
    overscroll-behavior: none;
}

body {
    font-family: $font_body;
    color: $text_color_normal;

    background: linear-gradient(180deg, var(--background-color), var(--background-color-2));
    background-size: 100% 60vh;
    background-repeat: no-repeat;
}

h1,
h2,
h3 {
    font-family: $font_header;
}

button {
    cursor: pointer;
}

select,
button,
input,
textarea {
    font-family: inherit;
    font-size: 1em;
}

select {
    padding: 0.5em 0.5em;
    border: 1px solid #aaa;
    background: transparent;
    border-radius: 0.4em;
}

a {
    color: inherit;
    text-decoration: underline;
}

.button {
    background: var(--accent-color);
    border-radius: 0.3em;
    display: inline-block;
    box-shadow:
        0px -5px inset rgba(0, 0, 0, 0.3),
        0px 10px #0000000f,
        0px 0px 0px inset #77c37a;
    color: #fff;
    //font-family: 'Bebas Neue';
    font-size: 1.3em;
    font-weight: bold;
    padding: 0.5em 1em;
    padding-bottom: calc(0.5em + 5px);
    text-decoration: none;
    transition: box-shadow 0.2s;

    background:
        linear-gradient(0deg, var(--accent-color), var(--accent-color)) padding-box,
        linear-gradient(90deg, var(--accent-color), var(--accent-color-light), var(--accent-color)) border-box;
    border-top: 1px solid transparent;

    i {
        margin-right: 0.7em;
    }

    &:hover {
        cursor: pointer;
        box-shadow:
            0px -5px inset rgba(0, 0, 0, 0.3),
            0px 10px #0000000f,
            0px 7px 0px inset #77c37a;
    }
}

@page {
    size: 8.25in 11.75in;
    $margin: 10mm;
    margin: $margin $margin $margin $margin;
}
