@import "utils";

x-blob-button {
    position: relative;
    background: none !important;
    box-shadow: none !important;

    --size: 2.5em;

    > div {
        background: var(--accent-color);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        filter: url(#gooey);
        z-index: -1;

        &:after {
            pointer-events: none;
            content: " ";
            position: absolute;
            width: var(--size);
            height: var(--size);
            margin-left: calc(var(--size) * -0.5);
            margin-top: calc(var(--size) * -0.5);
            border-radius: 100%;
            left: var(--x);
            top: var(--y);
            background: var(--accent-color);
        }
    }
}

@property --rotation {
    syntax: "<angle>";
    inherits: false;
    initial-value: 10deg;
}

x-index {
    --gutter: calc(max(1em, (100vw - var(--page-width)) / 2));
    --image-padding: 0.5em;

    grid-area: main;
    background-color: #fff;

    .goo {
        display: none !important;
        --width: -1.3em;
        --lerp: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        background: #787964;
        filter: url(#gooey);
        width: 1vw;
        height: 10em;
        display: block;
        z-index: 100;
        left: var(--x);
        top: var(--y);
        transform: skew(-8deg, 0deg);
        --x: calc(50% + var(--slant) * (var(--lerp) - 0.5));
        --y: calc((1 - var(--lerp)) * 100% - 5em);

        &:after {
            position: absolute;
            left: var(--width);
            right: var(--width);
            border-radius: 100%;
            background-color: #787964;
            content: " ";
            top: 2em;
            bottom: 2em;
        }
    }

    .intro {
        & + .category {
            --angle-top: 0px;
        }

        --inner-color: var(--accent-color);
        --outer-color: #011602;
        --slant: 8vw;
        --gradient-x: 50vw;
        --gradient-y: 50vh;

        display: grid;
        position: relative;

        &:before {
            display: block;
            content: " ";
            grid-column: 1/3;
            grid-row: 1/2;
            background:
                radial-gradient(ellipse at var(--gradient-x) var(--gradient-y), var(--inner-color), var(--outer-color))
                    center / auto,
                linear-gradient(0deg, #000, #000) center / auto,
                linear-gradient(0deg, var(--accent-color), var(--accent-color)) center / auto,
                radial-gradient(ellipse at var(--gradient-x) var(--gradient-y), #fff 30%, #000 80%) center / auto,
                url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Crect width='304' height='304' fill='black'/%3E%3Cpath fill='%23ffffff' fill-opacity='0.6' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E")
                    center / 20em,
                url("https://i.pinimg.com/originals/3c/8c/f0/3c8cf0299480a3f239761ce15f861b9f.gif") center / 18em;
            background-blend-mode: screen, screen, multiply, multiply, multiply, normal;
        }

        font-size: 1.2em;
        border-bottom: 2em solid #555550;

        p {
            line-height: 1.7em;
            color: #ddd;
            font-weight: bold;
            max-width: 30em;
        }

        svg {
            width: 17em;
            position: absolute;
            left: 0;
            top: 7vh;
            padding: 2em;
            background: var(--accent-color);
            clip-path: polygon(0 0, calc(100% - 2em) 0, 100% 50%, calc(100% - 2em) 100%, 0 100%);
            padding-right: 4em;
            z-index: 2;
        }

        .left {
            --background-color: #414132;

            z-index: 1;
            grid-area: left;
            color: #fff;
            background: radial-gradient(circle at 0 var(--gradient-y), #757562, var(--background-color) 50vh),
                var(--background-color);
            position: relative;
            display: flex;
            gap: 4vh;
            align-items: start;
            flex-direction: column;
            justify-content: center;

            .header {
                text-shadow: 2px 2px #0000003b;
                color: #fff;
                display: grid;
                grid-template-columns: min-content min-content;
                grid-template-rows: min-content min-content;
                grid-template-areas: "peter right" "nguyen right";
                gap: 0.7em;

                &:before {
                    content: " ";
                    margin: -10em -4em;
                    -webkit-mask: no-repeat url("/static/images/paint.png") center/contain;
                    z-index: -1;
                    grid-column: 1/3;
                    grid-row: 1/3;
                    background:
                        url("https://i.pinimg.com/originals/a4/ae/57/a4ae57de9652544afb9b5407da9878ce.jpg") center/cover,
                        var(--background-color);
                    filter: brightness(0.5);
                    background-blend-mode: luminosity;
                }

                @keyframes text-slide-in {
                    from {
                        opacity: 0;
                        transform: translate(var(--start-x), var(--start-y));
                    }

                    to {
                        opacity: 1;
                        transform: translate(0em, 0);
                    }
                }

                .peter {
                    grid-area: peter;
                    white-space: pre;
                    font-size: 6em;
                    animation: 0.3s 1 text-slide-in both;
                    animation-delay: 0s;
                }

                .nguyen {
                    font-size: 6.2em;
                    grid-area: nguyen;
                    white-space: pre;
                    animation: 0.3s 1 text-slide-in both;
                    animation-delay: 0.2s;
                }

                .peter,
                .nguyen {
                    --start-x: -4em;
                    --start-y: 0;
                    line-height: 0.8em;
                    font-family: $font_header;
                    margin-bottom: -0.1em;
                    text-align: right;
                    mix-blend-mode: exclusion;
                    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
                }

                ul {
                    grid-area: right;
                    line-height: 1em;
                    white-space: pre;

                    i {
                        margin-right: 0.3em;
                        font-size: 0.9em;
                        color: var(--accent-color);
                    }
                }

                text-transform: uppercase;
                color: #fff;
            }

            ul {
                font-size: 1.8rem;
                letter-spacing: 8px;
                font-family: $font_header;
                font-weight: bold;
                display: flex;
                gap: 0.3em;
                flex-direction: column;
                text-transform: uppercase;
                justify-content: space-between;

                &:before {
                    --start-x: 0;
                    --start-y: -4em;
                    animation-delay: 0.3s;
                }

                &:after {
                    --start-x: 0;
                    --start-y: 4em;
                    animation-delay: 0.4s;
                }

                &:before,
                &:after {
                    content: " ";
                    height: 0.25em;
                    border-radius: 0.1em;
                    flex-grow: 1;

                    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
                    animation: 0.3s 1 text-slide-in both;
                    animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);

                    background:
                        linear-gradient(0deg, var(--accent-color), var(--accent-color)) padding-box,
                        linear-gradient(90deg, var(--accent-color), var(--accent-color-light), var(--accent-color))
                            border-box;
                    border: 1px solid transparent;
                }
            }
        }

        .background-image {
            @include absolute();
            background: url("/static/images/Visualization/02_Turkey_01.jpg") center/cover;
            mix-blend-mode: overlay;
            filter: grayscale(1);
            opacity: 0.5;
            z-index: -1;
            -webkit-mask-image: linear-gradient(270deg, black, transparent);
        }

        .right {
            grid-area: right;
            position: relative;

            @keyframes iframe-rotation {
                from {
                    --rotation: 0deg;
                }

                to {
                    --rotation: 360deg;
                }
            }

            .video-container {
                position: absolute;
                aspect-ratio: 16/9;
                box-sizing: content-box;
                width: 100%;
                height: auto;
                display: block;
                top: 30vh;
                left: 10%;
                width: 80%;
                border: 2px solid transparent;
                background:
                    linear-gradient(var(--rotation), #21211a calc(50% - 20em), #255b27 50%, #23231b calc(50% + 20em))
                        padding-box,
                    linear-gradient(var(--rotation), #9b9b88 calc(50% - 13em), #71ff76 50%, #9b9b88 calc(50% + 13em))
                        border-box;
                padding: 0.7em;
                animation: iframe-rotation 10s infinite linear;
                border-radius: 1em;
                box-shadow: 0px 0px 0px 2px #000;
            }

            iframe {
                aspect-ratio: 16/9;
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .examples {
            display: none;
            color: #aaa;
            font-weight: bold;
            position: absolute;
            bottom: 5vh;
            left: 10vw;

            @keyframes arrow-animation {
                0% {
                    transform: scale(1, 1) translate(0em, 0em);
                }

                50% {
                    transform: scale(1, 1) translate(0em, 0em);
                }

                75% {
                    transform: scale(0.75, 1.25) translate(0em, 1em);
                }
            }

            i {
                margin-right: 1em;
                animation: 1s linear infinite arrow-animation;
            }
        }

        @media all and (max-width: 1000px) {
            grid-template-columns: minmax(0, 1fr);
            grid-template-rows: min-content min-content;
            grid-template-areas: "left" "right";

            p {
                line-height: 1.3em;
            }

            &:before {
                grid-area: right;
            }

            .left {
                box-sizing: content-box;
                padding: 20vh 7vw;
                align-items: start;

                .header {
                    grid-template-columns: 100%;
                    grid-template-rows: min-content min-content min-content;
                    grid-template-areas: "peter" "nguyen" "right";
                    margin-top: 0;
                    align-self: stretch;
                    gap: 0.7em 0;

                    .peter,
                    .nguyen {
                        font-size: 23vw;
                    }
                }
            }

            .right {
                svg {
                    display: none !important;
                }

                min-height: 50vh;
                padding: 5vh 7vw;
                border-top: 5vh solid var(--accent-color);

                .video-container {
                    position: static;
                    width: auto;
                    padding: 0.4em;
                }
            }
        }

        @media all and (min-width: 1000px) {
            grid-template-columns: minmax(0, 1fr) var(--slant) minmax(0, 1fr);
            grid-template-rows: 1fr;
            grid-template-areas: "right left left";
            height: calc(100vh + 2em);

            .left {
                padding-left: calc(var(--slant) + 2em);
                clip-path: polygon(var(--slant) 0, 100% 0, 100% 100%, 0 100%);

                &:before {
                    content: " ";
                    position: absolute;
                    width: calc(var(--slant) + 1vw);
                    left: 0;
                    top: 0;
                    bottom: 0;
                    clip-path: polygon(0 0, calc(var(--slant) + 1vw) 0, 1vw 100%, 0 100%);
                    background: #787964;
                }

                .header ul {
                    mix-blend-mode: exclusion;
                }
            }
        }
    }

    --side-width: calc(clamp(20em, 20vw, 27em));
    --angle-top: calc(clamp(1em, 8vw, 8em));
    --angle-bottom: calc(clamp(1em, 8vw, 8em));
    --background: url("/static/images/Illustration/02_Illus_02.jpg");
    --content-width: minmax(0, 1fr);
    --gap: calc(clamp(2em, 2.5vw, 3em));
    --hover-color: #c9c9bb;

    .category {
        &:last-child {
            --angle-bottom: 0px;
        }

        --divider-color-light: #c9c9bb;
        --divider-color-dark: #59594b;

        background: var(--background-color);

        &:nth-child(even) {
            --background-color: var(--dark-background-color);

            aside {
                --text-color: #ccc;
            }

            h1 {
                --header-color: #fff;
            }
        }

        &:nth-child(odd) {
            --background-color: var(--light-background-color);

            aside {
                --text-color: #555;
            }

            h1 {
                --header-color: #292922;
            }
        }

        /*
        Mobile Specific
        */
        @media all and (max-width: 1000px) {
            display: grid;
            gap: 1em;
            border-bottom: 1em solid var(--divider-color);
            padding: 1em;
            grid-template-rows: min-content min-content;
            grid-template-areas:
                "description"
                "img";
            grid-template-columns: minmax(0, 1fr);

            > div {
                display: none;
            }
        }

        @media all and (max-width: 2000px) {
            --image-padding: 0.3em;
        }

        @media all and (max-width: 1400px) {
            --image-padding: 0;
        }

        /*
        Desktop Specific
        */
        @media all and (min-width: 1000px) {
            display: grid;
            grid-template-rows: 1fr;
            gap: 0;
            align-items: start;
            position: relative;

            padding: calc(var(--angle-top) + 2em) 0 calc(var(--angle-bottom) + 2em);
            margin: calc(var(--angle-top) * -1 - 1px) 0 calc(var(--angle-bottom) * -1 - 1px);
            clip-path: polygon(0 var(--angle-top), 100% 0, 100% calc(100% - var(--angle-bottom)), 0 100%);

            &:nth-child(2) {
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--angle-top)), 0 100%);
                margin-top: 0;
                padding-top: 3em;
            }

            > div {
                display: block;
                grid-column: 3/5;
                grid-row: 1/2;
                margin: calc((var(--angle-top) + 3em) * -1) 0 calc((var(--angle-bottom) + 3em) * -1);
                opacity: 0.7;
                background: var(--background) center/cover;
                align-self: normal;
                filter: grayscale(1);
                -webkit-mask-image: linear-gradient(90deg, transparent, black 15em);
                mix-blend-mode: overlay;
            }

            &:before {
                content: " ";
                display: block;
                width: 4em;
                height: 4em;
                border-radius: 100%;
                position: absolute;
                left: 50%;
                top: 0%;
                background-color: var(--divider-color-top);
                margin-top: calc((var(--angle-top) * 0.5 - 2.5em));
            }

            &:after {
                content: " ";
                display: block;
                grid-column: 1 / 5;
                grid-row: 1 / 1;
                align-self: end;
                clip-path: polygon(0 var(--angle-bottom), 100% 0, 100% calc(100% - var(--angle-bottom)), 0 100%);
                background: var(--accent-color);
                margin-bottom: calc((var(--angle-bottom) + 2em) * -1);
                height: calc(var(--angle-bottom) + 1vh);
                z-index: 2;
                background: var(--divider-color-bottom);
            }

            /*
            Dark
            */
            &:nth-child(even) {
                grid-template-columns: var(--gutter) var(--content-width) var(--side-width) var(--gutter);
                grid-template-areas: "l img description r";

                --divider-color-top: var(--divider-color-dark);
                --divider-color-bottom: var(--divider-color-light);
                --hover-color: #53534a;

                ul {
                    padding-right: var(--gap);

                    li {
                        &:before {
                            border: 1px solid rgba(255, 255, 255, 0.05);
                        }

                        &:after {
                            border: 1px solid #ccc;
                        }
                    }
                }
            }

            /*
            Light
            */
            &:nth-child(odd) {
                grid-template-columns: var(--gutter) var(--side-width) var(--content-width) var(--gutter);
                grid-template-areas: "l description img r";

                --divider-color-top: var(--divider-color-light);
                --divider-color-bottom: var(--divider-color-dark);

                ul {
                    padding-left: var(--gap);

                    li {
                        background: linear-gradient(45deg, #d5d5cd, #e9e9df, #d5d5cd) !important;
                        border: calc(min(var(--image-padding), 1px)) solid rgba(0, 0, 0, 0.1) !important;

                        &:before {
                            border: 1px solid rgba(0, 0, 0, 0.05);
                        }

                        &:after {
                            border: 1px solid #666;
                            box-shadow: 0px 0px 0px var(--image-border-width) #bbb inset;
                        }
                    }
                }

                > div {
                    grid-column: 1 / 3;
                    -webkit-mask-image: linear-gradient(270deg, transparent, black 15em);
                }
            }
        }

        ul {
            grid-area: img;
        }

        > aside {
            grid-area: description;
            padding: 0;
            color: var(--text-color);

            @media all and (min-width: 1000px) {
                position: sticky;
                top: 4em;
            }
        }

        iframe {
            aspect-ratio: 16 / 9;
            width: 100%;
            padding-right: 3em;
            grid-area: img;
        }

        h1 {
            --shadow-color: rgba(0, 0, 0, 0.2);
            color: var(--header-color);
            font-size: calc(clamp(2em, 3vw, 3em) * 1.3);
            display: flex;
            margin: 0 0;
            text-transform: uppercase;
            flex-direction: column;
            position: relative;

            &:after {
                content: " ";
                background:
                    linear-gradient(0deg, var(--accent-color), var(--accent-color)) padding-box,
                    linear-gradient(90deg, var(--accent-color), var(--accent-color-light), var(--accent-color))
                        border-box;
                height: 0.25em;
                border-radius: 100em;
                border: 1px solid transparent;
            }

            &:before {
                content: " ";
                @include absolute();
                margin-left: 5px;
                margin-top: 5px;
                -webkit-background-clip: text;
                color: transparent;
                background-image: repeating-linear-gradient(
                    45deg,
                    white 0,
                    white 4px,
                    transparent 5px,
                    transparent 9px,
                    white 10px
                );
                z-index: -1;
            }
        }

        p {
            margin: 1em 0;
            line-height: 1.7em;
        }

        ul {
            --width: 10em;
            --min-a: 0.7;
            --max-a: 1.8;
            --scale: 1;
            --image-border-width: 2px;

            @media all and (max-width: 1000px) {
                --scale: 0.65;
                --image-grid-gap: 0.5em;
                --image-border-width: 2px;
            }

            @media all and (max-width: 1400px) {
                --scale: 0.8;
                --image-grid-gap: 0.5em;
            }

            display: flex;
            flex-wrap: wrap;
            gap: var(--image-grid-gap);

            &::after {
                content: "";
                flex: 10;
            }

            li {
                --a: calc(clamp(var(--min-a), calc(var(--w) / var(--h)), var(--max-a)));
                --hover-angle: 0deg;
                --hover-strength: 0%;
                --radius: var(--radius-large);

                border-radius: var(--radius);
                position: relative;
                aspect-ratio: var(--a);
                flex: calc(var(--a) * var(--width) * var(--scale));
                flex-grow: calc(var(--a));
                padding: var(--image-padding);
                background: linear-gradient(45deg, #2f2f2f, #414141, #2f2f2f);
                border: calc(min(var(--image-padding), 1px)) solid rgba(255, 255, 255, 0.15);

                a {
                    display: contents;

                    &:before {
                        content: " ";
                        @include absolute();
                        pointer-events: none;
                        transition:
                            inset 0.2s,
                            visibility 0.2s;
                        inset: 0px;
                        visibility: hidden;
                        background: linear-gradient(
                            var(--hover-angle),
                            rgba(var(--accent-color-rgb), var(--hover-strength)) 15%,
                            rgba(var(--accent-color-rgb), 1) 50%,
                            rgba(var(--accent-color-rgb), var(--hover-strength)) 85%
                        );
                        z-index: -1;
                        border-radius: calc(var(--radius) + 6px);
                    }
                }

                &:hover {
                    a {
                        &:before {
                            inset: -6px;
                            visibility: visible;
                        }
                    }
                }

                &:after,
                &:before {
                    content: " ";
                    @include absolute(var(--image-padding));
                    border-radius: var(--radius);
                    display: block;
                    pointer-events: none;
                }

                &:after {
                    mix-blend-mode: overlay;
                    pointer-events: none;
                }

                img {
                    display: block;
                    aspect-ratio: var(--aspect-ratio);
                    border-radius: var(--radius);
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    flex: 1;
                    max-height: 22em;
                    opacity: 0;

                    &.loaded {
                        opacity: 1;
                    }
                }

                span {
                    display: none;
                }
            }
        }
    }
}

footer {
    margin-top: -0.1em;
    background: #212121;
    height: 6em;
}
