x-jump-to-top {
    cursor: pointer;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s;
    clip-path: polygon(2em 0, 100% 0, 100% 100%, 0 100%, 0% 2em);
    padding: 1em 1em;
    padding-left: 2em;
    background: #fff;
    border-bottom: 3px solid;
    border-right: 3px solid #000;

    &:hover {
        background: #ddd;
    }

    &.visible {
        opacity: 1;
    }
}
