@import "utils";

x-lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    --x: 0;
    --y: 0;
    --animation: 1;
    --size: 100vw; //calc(var(--animation) * 100vw);
    --frame-padding: 2em;
    --frame-size: 40%;
    --frame-inset-width: 5px;
    --frame-inset-color: var(--accent-color);
    --frame-border-1: #2d2d2d;
    --frame-border-2: var(--accent-color);
    --frame-background-1: #070706;
    --frame-background-2: rgba(0, 0, 0, 0.6);

    transform: translate(0, 0);
    //clip-path: ellipse(var(--size) var(--size) at 50vw 50vh);

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;

    &.visible {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.image-loaded {
        img {
        }
    }

    a {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        text-decoration: none;
        justify-content: start;
        align-items: center;
        padding: 5vw;

        &.previous {
            left: 0;
            width: 40%;

            &:before {
                content: "\f060";
            }
        }

        &.next {
            right: 0;
            width: 40%;
            justify-content: end;

            &:before {
                content: "\f061";
            }
        }

        &:before {
            font-family: fontawesome;
            font-size: 7vh;
            color: #fff;
            transition: transform 0.2s;
            text-shadow: 2px 2px 0px #000;
        }

        &:hover {
            &:before {
                transform: scale(1.2);
            }
        }
    }

    article {
        position: absolute;
        opacity: calc(1 - var(--animation));
        transform: translate(calc(var(--x) * var(--animation) * 35vw), calc(var(--y) * var(--animation) * 35vh))
            scale(calc(1 - 0.5 * var(--animation)));
        padding: var(--frame-padding);
        background:
            linear-gradient(45deg, var(--frame-background-1), var(--frame-background-2), var(--frame-background-1))
                padding-box,
            linear-gradient(45deg, var(--frame-border-1), var(--frame-border-2), var(--frame-border-1)) border-box;
        border-radius: 1em;
        //box-shadow: 2px 2px 3px #000;
        border: 1px solid transparent;

        --frame-inset-distance: calc(var(--frame-padding) / 2 - var(--frame-inset-width) / 2);

        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: var(--frame-inset-distance);
            top: var(--frame-inset-distance);
            width: var(--frame-size);
            height: var(--frame-size);
            border-top-left-radius: var(--radius-large);
            border-bottom-left-radius: var(--frame-inset-width);
            border-top-right-radius: var(--frame-inset-width);
            border-left: var(--frame-inset-width) solid var(--frame-inset-color);
            border-top: var(--frame-inset-width) solid var(--frame-inset-color);
            pointer-events: none;
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            right: var(--frame-inset-distance);
            bottom: var(--frame-inset-distance);
            width: var(--frame-size);
            height: var(--frame-size);
            border-bottom-right-radius: var(--radius-large);
            border-bottom-left-radius: var(--frame-inset-width);
            border-top-right-radius: var(--frame-inset-width);
            border-right: var(--frame-inset-width) solid var(--frame-inset-color);
            border-bottom: var(--frame-inset-width) solid var(--frame-inset-color);
            pointer-events: none;
        }

        .img-container {
            position: relative;

            &:after {
                content: " ";
                @include absolute(0);
                border: 1px solid #ccc;
                border-radius: var(--radius-large);
                mix-blend-mode: overlay;
            }
        }

        img {
            border-radius: var(--radius-large);
            display: block;
            max-width: 80vw;
            max-height: 80vh;
        }
    }

    /*article {
        background-color: #fff;
        border-radius: var(--radius-large);
        padding: 1em;
        width: 80vw;
        max-width: 70rem;

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: min-content 1fr;
        grid-template-areas:
            "header header"
            "img description";
        gap: 1em;
        box-shadow: 2px 2px 5px #0000001f;

        img {
            grid-area: img;
            max-width: 100%;
        }

        h1 {
            grid-area: header;
            color: var(--text-color-strong);
            font-size: 2em;
            display: flex;
            align-items: center;
            gap: 0.6em;
            margin: 0 0;
            text-transform: uppercase;

            &:after {
                content: " ";
                height: 1px;
                background: var(--divider-light);
                flex: 1;
            }
        }

        p {
            margin: 1em 0;
        }

        section {
            grid-area: description;
            font-size: 0.9em;
            text-align: justify;
        }
    }*/
}
